// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Serif+Pro:wght@200;300;400&display=swap');
$big-h: 2em;
$mid-h: 1.5em;
$sm-h:  1em;
$reg-font: 1em;
$header-font-fam: "Noto Sans", "Calibri", "sans serif";
$font-fam: "Source Serif Pro", "Garamond", "serif";

// Decoration
$border-col: rgb(112, 112, 112);
$border-padding: 20px;
$company-border-expands-to: 10px;

// Colors
$background-col: rgb(12, 27, 48);
$box-col: rgb(43, 54, 70);
$text-col: rgb(192, 192, 192);
$hover-col: rgb(183, 255, 245);
$link-col: rgb(117, 255, 237);
$link-vis-col: rgb(65, 139, 130);

// General styles

body {
    background-color: $background-col;
    color: $text-col;
}

code {
    font-family: "Cascadia Code", "Fira Code", "Hasklig", "Consolas", monospace;
    background-color: rgb(61, 61, 61);
}

ul, p {
    font-family: $font-fam;
}

h1, h2, h3 {
    font-family: $header-font-fam;
}

h1 {
    font-size: $big-h;
}

h2 {
    font-size: $mid-h;
}

h3 {
    font-size: $sm-h;
    font-style: italic;
}

ul, p {
    font-size: $reg-font;
}

a {
    color: $link-col;
}

a:hover {
    color: $hover-col;
}

a:visited {
    color: $link-vis-col;
}

// Company box -- This is the div containing the companies worked for and job desc.

.company-box {
    border-left: 1px solid $border-col;
    padding-left: 20px;
    animation-name: company-box-reverse;
    animation-duration: 0.1s;
}

// Adjusts the width of the left border
.company-box:hover {
    border-left: $company-border-expands-to solid $hover-col;
    padding-left: 11px;
    animation-name: company-box-extend;
    animation-duration: 0.1s;
}

@keyframes company-box-extend {
    from {
        border-left: 1px solid $border-col;
        padding-left: 20px;
    }

    to {
        border-left: $company-border-expands-to solid $hover-col;
        padding-left: 11px;
    }
}

@keyframes company-box-reverse {
    from {
        border-left: $company-border-expands-to solid $hover-col;
        padding-left: 11px;
    }

    to {
        border-left: 1px solid $border-col;
        padding-left: 20px;
    }
}

.pgr-box {
    background-image: url('./assets/pgr_thumb_round_transp.png');
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 75px;
}

.cornell-box {
    background-image: url('./assets/cornell_thumb_round_transp.png');
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 75px;
}

.company-bullets {
    width: 95%;
}


.section-box {
    border: 1px inset $border-col;
    padding-left: $border-padding;
    padding-right: $border-padding;
    margin-bottom: $border-padding/2;
    background-color: $box-col;
    border-radius: 0.1cm;
}

.section-box:hover {
    border: 1px inset white;
}

.section-header {
    border-bottom: 1px solid $border-col;
    animation-name: underline;
    animation-duration: 0.1s;
}

.header-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 20px;
}

.bottom-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

@media (max-width: 800px) {
  .bottom-grid {
    flex-direction: column;
  }
}

.bottom-grid-item {
    width: 50%;
}


#header {
    display: none;
}

.rj {
    text-align: right;
}

.sans {
    font-family: $header-font-fam;
}

.test {
    border: 1px solid red;
}
